
code/MaitreOeuvre_Client/Server/node_modules/@types/node/async_hooks.d.ts
code/MaitreOeuvre_Client/Server/node_modules/@types/node/async_hooks.d.ts
code/MaitreOeuvre_Client/Server/node_modules/@types/node/async_hooks.d.ts
code/MaitreOeuvre_Client/Server/node_modules/@types/node/buffer.d.ts
code/MaitreOeuvre_Client/Server/node_modules/@types/node/child_process.d.ts
*.ts
code/MaitreOeuvre_Client/Server/node_modules/
.idea/INFO910.iml
.idea/inspectionProfiles/
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
Server/.dockerignore
Server/[internal]
Server/node_modules/.bin/fxparser
Server/node_modules/.bin/fxparser.cmd
Server/node_modules/.bin/fxparser.ps1
Server/node_modules/.bin/uuid
Server/node_modules/.bin/uuid.cmd
Server/node_modules/.bin/uuid.ps1
Server/node_modules/@aws-crypto/ie11-detection/CHANGELOG.md
Server/node_modules/@aws-crypto/ie11-detection/LICENSE
Server/node_modules/@aws-crypto/ie11-detection/README.md
Server/node_modules/@aws-crypto/ie11-detection/build/CryptoOperation.js
Server/node_modules/@aws-crypto/ie11-detection/build/CryptoOperation.js.map
Server/node_modules/@aws-crypto/ie11-detection/build/Key.js
Server/node_modules/@aws-crypto/ie11-detection/build/Key.js.map
Server/node_modules/@aws-crypto/ie11-detection/build/KeyOperation.js
Server/node_modules/@aws-crypto/ie11-detection/build/KeyOperation.js.map
Server/node_modules/@aws-crypto/ie11-detection/build/MsSubtleCrypto.js
Server/node_modules/@aws-crypto/ie11-detection/build/MsSubtleCrypto.js.map
Server/node_modules/@aws-crypto/ie11-detection/build/MsWindow.js
Server/node_modules/@aws-crypto/ie11-detection/build/MsWindow.js.map
Server/node_modules/@aws-crypto/ie11-detection/build/index.js
Server/node_modules/@aws-crypto/ie11-detection/build/index.js.map
Server/node_modules/@aws-crypto/ie11-detection/node_modules/tslib/CopyrightNotice.txt
Server/node_modules/@aws-crypto/ie11-detection/node_modules/tslib/LICENSE.txt
Server/node_modules/@aws-crypto/ie11-detection/node_modules/tslib/README.md
Server/node_modules/@aws-crypto/ie11-detection/node_modules/tslib/modules/
Server/node_modules/@aws-crypto/ie11-detection/node_modules/tslib/package.json
Server/node_modules/@aws-crypto/ie11-detection/node_modules/tslib/test/
Server/node_modules/@aws-crypto/ie11-detection/node_modules/tslib/tslib.es6.html
Server/node_modules/@aws-crypto/ie11-detection/node_modules/tslib/tslib.es6.js
Server/node_modules/@aws-crypto/ie11-detection/node_modules/tslib/tslib.html
Server/node_modules/@aws-crypto/ie11-detection/node_modules/tslib/tslib.js
Server/node_modules/@aws-crypto/ie11-detection/package.json
Server/node_modules/@aws-crypto/ie11-detection/tsconfig.json
Server/node_modules/@aws-crypto/sha256-browser/CHANGELOG.md
Server/node_modules/@aws-crypto/sha256-browser/LICENSE
Server/node_modules/@aws-crypto/sha256-browser/README.md
Server/node_modules/@aws-crypto/sha256-browser/build/constants.js
Server/node_modules/@aws-crypto/sha256-browser/build/constants.js.map
Server/node_modules/@aws-crypto/sha256-browser/build/crossPlatformSha256.js
Server/node_modules/@aws-crypto/sha256-browser/build/crossPlatformSha256.js.map
Server/node_modules/@aws-crypto/sha256-browser/build/ie11Sha256.js
Server/node_modules/@aws-crypto/sha256-browser/build/ie11Sha256.js.map
Server/node_modules/@aws-crypto/sha256-browser/build/index.js
Server/node_modules/@aws-crypto/sha256-browser/build/index.js.map
Server/node_modules/@aws-crypto/sha256-browser/build/isEmptyData.js
Server/node_modules/@aws-crypto/sha256-browser/build/isEmptyData.js.map
Server/node_modules/@aws-crypto/sha256-browser/build/webCryptoSha256.js
Server/node_modules/@aws-crypto/sha256-browser/build/webCryptoSha256.js.map
Server/node_modules/@aws-crypto/sha256-browser/node_modules/tslib/CopyrightNotice.txt
Server/node_modules/@aws-crypto/sha256-browser/node_modules/tslib/LICENSE.txt
Server/node_modules/@aws-crypto/sha256-browser/node_modules/tslib/README.md
Server/node_modules/@aws-crypto/sha256-browser/node_modules/tslib/modules/
Server/node_modules/@aws-crypto/sha256-browser/node_modules/tslib/package.json
Server/node_modules/@aws-crypto/sha256-browser/node_modules/tslib/test/
Server/node_modules/@aws-crypto/sha256-browser/node_modules/tslib/tslib.es6.html
Server/node_modules/@aws-crypto/sha256-browser/node_modules/tslib/tslib.es6.js
Server/node_modules/@aws-crypto/sha256-browser/node_modules/tslib/tslib.html
Server/node_modules/@aws-crypto/sha256-browser/node_modules/tslib/tslib.js
Server/node_modules/@aws-crypto/sha256-browser/package.json
Server/node_modules/@aws-crypto/sha256-browser/tsconfig.json
Server/node_modules/@aws-crypto/sha256-js/CHANGELOG.md
Server/node_modules/@aws-crypto/sha256-js/LICENSE
Server/node_modules/@aws-crypto/sha256-js/README.md
Server/node_modules/@aws-crypto/sha256-js/build/RawSha256.js
Server/node_modules/@aws-crypto/sha256-js/build/RawSha256.js.map
Server/node_modules/@aws-crypto/sha256-js/build/constants.js
Server/node_modules/@aws-crypto/sha256-js/build/constants.js.map
Server/node_modules/@aws-crypto/sha256-js/build/index.js
Server/node_modules/@aws-crypto/sha256-js/build/index.js.map
Server/node_modules/@aws-crypto/sha256-js/build/jsSha256.js
Server/node_modules/@aws-crypto/sha256-js/build/jsSha256.js.map
Server/node_modules/@aws-crypto/sha256-js/build/knownHashes.fixture.js
Server/node_modules/@aws-crypto/sha256-js/build/knownHashes.fixture.js.map
Server/node_modules/@aws-crypto/sha256-js/node_modules/tslib/CopyrightNotice.txt
Server/node_modules/@aws-crypto/sha256-js/node_modules/tslib/LICENSE.txt
Server/node_modules/@aws-crypto/sha256-js/node_modules/tslib/README.md
Server/node_modules/@aws-crypto/sha256-js/node_modules/tslib/modules/
Server/node_modules/@aws-crypto/sha256-js/node_modules/tslib/package.json
Server/node_modules/@aws-crypto/sha256-js/node_modules/tslib/test/
Server/node_modules/@aws-crypto/sha256-js/node_modules/tslib/tslib.es6.html
Server/node_modules/@aws-crypto/sha256-js/node_modules/tslib/tslib.es6.js
Server/node_modules/@aws-crypto/sha256-js/node_modules/tslib/tslib.html
Server/node_modules/@aws-crypto/sha256-js/node_modules/tslib/tslib.js
Server/node_modules/@aws-crypto/sha256-js/package.json
Server/node_modules/@aws-crypto/sha256-js/tsconfig.json
Server/node_modules/@aws-crypto/supports-web-crypto/CHANGELOG.md
Server/node_modules/@aws-crypto/supports-web-crypto/LICENSE
Server/node_modules/@aws-crypto/supports-web-crypto/README.md
Server/node_modules/@aws-crypto/supports-web-crypto/build/index.js
Server/node_modules/@aws-crypto/supports-web-crypto/build/supportsWebCrypto.js
Server/node_modules/@aws-crypto/supports-web-crypto/node_modules/tslib/CopyrightNotice.txt
Server/node_modules/@aws-crypto/supports-web-crypto/node_modules/tslib/LICENSE.txt
Server/node_modules/@aws-crypto/supports-web-crypto/node_modules/tslib/README.md
Server/node_modules/@aws-crypto/supports-web-crypto/node_modules/tslib/modules/
Server/node_modules/@aws-crypto/supports-web-crypto/node_modules/tslib/package.json
Server/node_modules/@aws-crypto/supports-web-crypto/node_modules/tslib/test/
Server/node_modules/@aws-crypto/supports-web-crypto/node_modules/tslib/tslib.es6.html
Server/node_modules/@aws-crypto/supports-web-crypto/node_modules/tslib/tslib.es6.js
Wou
ld remove Server/node_modules/@aws-crypto/supports-web-crypto/node_modules/tslib/tslib.html
Server/node_modules/@aws-crypto/supports-web-crypto/node_modules/tslib/tslib.js
Server/node_modules/@aws-crypto/supports-web-crypto/package.json
Server/node_modules/@aws-crypto/supports-web-crypto/tsconfig.json
Server/node_modules/@aws-crypto/util/CHANGELOG.md
Server/node_modules/@aws-crypto/util/LICENSE
Server/node_modules/@aws-crypto/util/README.md
Server/node_modules/@aws-crypto/util/build/convertToBuffer.js
Server/node_modules/@aws-crypto/util/build/convertToBuffer.js.map
Server/node_modules/@aws-crypto/util/build/index.js
Server/node_modules/@aws-crypto/util/build/index.js.map
Server/node_modules/@aws-crypto/util/build/isEmptyData.js
Server/node_modules/@aws-crypto/util/build/isEmptyData.js.map
Server/node_modules/@aws-crypto/util/build/numToUint8.js
Server/node_modules/@aws-crypto/util/build/numToUint8.js.map
Server/node_modules/@aws-crypto/util/build/uint32ArrayFrom.js
Server/node_modules/@aws-crypto/util/build/uint32ArrayFrom.js.map
Server/node_modules/@aws-crypto/util/node_modules/tslib/CopyrightNotice.txt
Server/node_modules/@aws-crypto/util/node_modules/tslib/LICENSE.txt
Server/node_modules/@aws-crypto/util/node_modules/tslib/README.md
Server/node_modules/@aws-crypto/util/node_modules/tslib/modules/
Server/node_modules/@aws-crypto/util/node_modules/tslib/package.json
Server/node_modules/@aws-crypto/util/node_modules/tslib/test/
Server/node_modules/@aws-crypto/util/node_modules/tslib/tslib.es6.html
Server/node_modules/@aws-crypto/util/node_modules/tslib/tslib.es6.js
Server/node_modules/@aws-crypto/util/node_modules/tslib/tslib.html
Server/node_modules/@aws-crypto/util/node_modules/tslib/tslib.js
Server/node_modules/@aws-crypto/util/package.json
Server/node_modules/@aws-crypto/util/tsconfig.json
Server/node_modules/@aws-sdk/abort-controller/LICENSE
Server/node_modules/@aws-sdk/abort-controller/README.md
Server/node_modules/@aws-sdk/abort-controller/dist-cjs/
Server/node_modules/@aws-sdk/abort-controller/dist-es/
Server/node_modules/@aws-sdk/abort-controller/package.json
Server/node_modules/@aws-sdk/client-cognito-identity/LICENSE
Server/node_modules/@aws-sdk/client-cognito-identity/README.md
Server/node_modules/@aws-sdk/client-cognito-identity/dist-cjs/
Server/node_modules/@aws-sdk/client-cognito-identity/dist-es/
Server/node_modules/@aws-sdk/client-cognito-identity/package.json
Server/node_modules/@aws-sdk/client-sso-oidc/LICENSE
Server/node_modules/@aws-sdk/client-sso-oidc/README.md
Server/node_modules/@aws-sdk/client-sso-oidc/dist-cjs/
Server/node_modules/@aws-sdk/client-sso-oidc/dist-es/
Server/node_modules/@aws-sdk/client-sso-oidc/package.json
Server/node_modules/@aws-sdk/client-sso/LICENSE
Server/node_modules/@aws-sdk/client-sso/README.md
Server/node_modules/@aws-sdk/client-sso/dist-cjs/
Server/node_modules/@aws-sdk/client-sso/dist-es/
Server/node_modules/@aws-sdk/client-sso/package.json
Server/node_modules/@aws-sdk/client-sts/LICENSE
Server/node_modules/@aws-sdk/client-sts/README.md
Server/node_modules/@aws-sdk/client-sts/dist-cjs/
Server/node_modules/@aws-sdk/client-sts/dist-es/
Server/node_modules/@aws-sdk/client-sts/package.json
Server/node_modules/@aws-sdk/config-resolver/LICENSE
Server/node_modules/@aws-sdk/config-resolver/README.md
Server/node_modules/@aws-sdk/config-resolver/dist-cjs/
Server/node_modules/@aws-sdk/config-resolver/dist-es/
Server/node_modules/@aws-sdk/config-resolver/package.json
Server/node_modules/@aws-sdk/credential-provider-cognito-identity/LICENSE
Server/node_modules/@aws-sdk/credential-provider-cognito-identity/README.md
Server/node_modules/@aws-sdk/credential-provider-cognito-identity/dist-cjs/
Server/node_modules/@aws-sdk/credential-provider-cognito-identity/dist-es/
Server/node_modules/@aws-sdk/credential-provider-cognito-identity/package.json
Server/node_modules/@aws-sdk/credential-provider-env/LICENSE
Server/node_modules/@aws-sdk/credential-provider-env/README.md
Server/node_modules/@aws-sdk/credential-provider-env/dist-cjs/
Server/node_modules/@aws-sdk/credential-provider-env/dist-es/
Server/node_modules/@aws-sdk/credential-provider-env/package.json
Server/node_modules/@aws-sdk/credential-provider-imds/LICENSE
Server/node_modules/@aws-sdk/credential-provider-imds/README.md
Server/node_modules/@aws-sdk/credential-provider-imds/dist-cjs/
Server/node_modules/@aws-sdk/credential-provider-imds/dist-es/
Server/node_modules/@aws-sdk/credential-provider-imds/package.json
Server/node_modules/@aws-sdk/credential-provider-ini/LICENSE
Server/node_modules/@aws-sdk/credential-provider-ini/README.md
Server/node_modules/@aws-sdk/credential-provider-ini/dist-cjs/
Server/node_modules/@aws-sdk/credential-provider-ini/dist-es/
Server/node_modules/@aws-sdk/credential-provider-ini/package.json
Server/node_modules/@aws-sdk/credential-provider-node/LICENSE
Server/node_modules/@aws-sdk/credential-provider-node/README.md
Server/node_modules/@aws-sdk/credential-provider-node/dist-cjs/
Server/node_modules/@aws-sdk/credential-provider-node/dist-es/
Server/node_modules/@aws-sdk/credential-provider-node/package.json
Server/node_modules/@aws-sdk/credential-provider-process/LICENSE
Server/node_modules/@aws-sdk/credential-provider-process/README.md
Server/node_modules/@aws-sdk/credential-provider-process/dist-cjs/
Server/node_modules/@aws-sdk/credential-provider-process/dist-es/
Server/node_modules/@aws-sdk/credential-provider-process/package.json
Server/node_modules/@aws-sdk/credential-provider-sso/LICENSE
Server/node_modules/@aws-sdk/credential-provider-sso/README.md
Server/node_modules/@aws-sdk/credential-provider-sso/dist-cjs/
Server/node_modules/@aws-sdk/credential-provider-sso/dist-es/
Server/node_modules/@aws-sdk/credential-provider-sso/package.json
Server/node_modules/@aws-sdk/credential-provider-web-identity/LICENSE
Server/node_modules/@aws-sdk/credential-provider-web-identity/README.md
Server/node_modules/@aws-sdk/credential-provider-web-identity/dist-cjs/
Server/node_modules/@aws-sdk/credential-provider-web-identity/dist-es/
Server/node_modules/@aws-sdk/credential-provider-web-identity/package.json
Server/node_modules/@aws-sdk/credential-providers/LICENSE
Server/node_modules/@aws-sdk/credential-providers/README.md
Server/node_modules/@aws-sdk/credential-providers/dist-cjs/
Server/node_modules/@aws-sdk/credential-providers/dist-es/
Server/node_modules/@aws-sdk/credential-providers/package.json
Server/node_modules/@aws-sdk/fetch-http-handler/LICENSE
Server/node_modules/@aws-sdk/fetch-http-handler/README.md
Server/node_modules/@aws-sdk/fetch-http-handler/dist-cjs/
Server/node_modules/@aws-sdk/fetch-http-handler/dist-es/
Server/node_modules/@aws-sdk/fetch-http-handler/package.json
Server/node_modules/@aws-sdk/hash-node/LICENSE
Would r
emove Server/node_modules/@aws-sdk/hash-node/README.md
Server/node_modules/@aws-sdk/hash-node/dist-cjs/
Server/node_modules/@aws-sdk/hash-node/dist-es/
Server/node_modules/@aws-sdk/hash-node/package.json
Server/node_modules/@aws-sdk/invalid-dependency/LICENSE
Server/node_modules/@aws-sdk/invalid-dependency/README.md
Server/node_modules/@aws-sdk/invalid-dependency/dist-cjs/
Server/node_modules/@aws-sdk/invalid-dependency/dist-es/
Server/node_modules/@aws-sdk/invalid-dependency/package.json
Server/node_modules/@aws-sdk/is-array-buffer/CHANGELOG.md
Server/node_modules/@aws-sdk/is-array-buffer/LICENSE
Server/node_modules/@aws-sdk/is-array-buffer/README.md
Server/node_modules/@aws-sdk/is-array-buffer/dist-cjs/
Server/node_modules/@aws-sdk/is-array-buffer/dist-es/
Server/node_modules/@aws-sdk/is-array-buffer/package.json
Server/node_modules/@aws-sdk/middleware-content-length/LICENSE
Server/node_modules/@aws-sdk/middleware-content-length/README.md
Server/node_modules/@aws-sdk/middleware-content-length/dist-cjs/
Server/node_modules/@aws-sdk/middleware-content-length/dist-es/
Server/node_modules/@aws-sdk/middleware-content-length/package.json
Server/node_modules/@aws-sdk/middleware-endpoint/LICENSE
Server/node_modules/@aws-sdk/middleware-endpoint/README.md
Server/node_modules/@aws-sdk/middleware-endpoint/dist-cjs/
Server/node_modules/@aws-sdk/middleware-endpoint/dist-es/
Server/node_modules/@aws-sdk/middleware-endpoint/package.json
Server/node_modules/@aws-sdk/middleware-host-header/LICENSE
Server/node_modules/@aws-sdk/middleware-host-header/README.md
Server/node_modules/@aws-sdk/middleware-host-header/dist-cjs/
Server/node_modules/@aws-sdk/middleware-host-header/dist-es/
Server/node_modules/@aws-sdk/middleware-host-header/package.json
Server/node_modules/@aws-sdk/middleware-logger/LICENSE
Server/node_modules/@aws-sdk/middleware-logger/README.md
Server/node_modules/@aws-sdk/middleware-logger/dist-cjs/
Server/node_modules/@aws-sdk/middleware-logger/dist-es/
Server/node_modules/@aws-sdk/middleware-logger/package.json
Server/node_modules/@aws-sdk/middleware-recursion-detection/LICENSE
Server/node_modules/@aws-sdk/middleware-recursion-detection/README.md
Server/node_modules/@aws-sdk/middleware-recursion-detection/dist-cjs/
Server/node_modules/@aws-sdk/middleware-recursion-detection/dist-es/
Server/node_modules/@aws-sdk/middleware-recursion-detection/package.json
Server/node_modules/@aws-sdk/middleware-retry/LICENSE
Server/node_modules/@aws-sdk/middleware-retry/README.md
Server/node_modules/@aws-sdk/middleware-retry/dist-cjs/
Server/node_modules/@aws-sdk/middleware-retry/dist-es/
Server/node_modules/@aws-sdk/middleware-retry/package.json
Server/node_modules/@aws-sdk/middleware-sdk-sts/LICENSE
Server/node_modules/@aws-sdk/middleware-sdk-sts/README.md
Server/node_modules/@aws-sdk/middleware-sdk-sts/dist-cjs/
Server/node_modules/@aws-sdk/middleware-sdk-sts/dist-es/
Server/node_modules/@aws-sdk/middleware-sdk-sts/package.json
Server/node_modules/@aws-sdk/middleware-serde/LICENSE
Server/node_modules/@aws-sdk/middleware-serde/README.md
Server/node_modules/@aws-sdk/middleware-serde/dist-cjs/
Server/node_modules/@aws-sdk/middleware-serde/dist-es/
Server/node_modules/@aws-sdk/middleware-serde/package.json
Server/node_modules/@aws-sdk/middleware-signing/LICENSE
Server/node_modules/@aws-sdk/middleware-signing/README.md
Server/node_modules/@aws-sdk/middleware-signing/dist-cjs/
Server/node_modules/@aws-sdk/middleware-signing/dist-es/
Server/node_modules/@aws-sdk/middleware-signing/package.json
Server/node_modules/@aws-sdk/middleware-stack/LICENSE
Server/node_modules/@aws-sdk/middleware-stack/README.md
Server/node_modules/@aws-sdk/middleware-stack/dist-cjs/
Server/node_modules/@aws-sdk/middleware-stack/dist-es/
Server/node_modules/@aws-sdk/middleware-stack/package.json
Server/node_modules/@aws-sdk/middleware-user-agent/LICENSE
Server/node_modules/@aws-sdk/middleware-user-agent/README.md
Server/node_modules/@aws-sdk/middleware-user-agent/dist-cjs/
Server/node_modules/@aws-sdk/middleware-user-agent/dist-es/
Server/node_modules/@aws-sdk/middleware-user-agent/package.json
Server/node_modules/@aws-sdk/node-config-provider/LICENSE
Server/node_modules/@aws-sdk/node-config-provider/README.md
Server/node_modules/@aws-sdk/node-config-provider/dist-cjs/
Server/node_modules/@aws-sdk/node-config-provider/dist-es/
Server/node_modules/@aws-sdk/node-config-provider/package.json
Server/node_modules/@aws-sdk/node-http-handler/LICENSE
Server/node_modules/@aws-sdk/node-http-handler/README.md
Server/node_modules/@aws-sdk/node-http-handler/dist-cjs/
Server/node_modules/@aws-sdk/node-http-handler/dist-es/
Server/node_modules/@aws-sdk/node-http-handler/package.json
Server/node_modules/@aws-sdk/property-provider/LICENSE
Server/node_modules/@aws-sdk/property-provider/README.md
Server/node_modules/@aws-sdk/property-provider/dist-cjs/
Server/node_modules/@aws-sdk/property-provider/dist-es/
Server/node_modules/@aws-sdk/property-provider/package.json
Server/node_modules/@aws-sdk/protocol-http/LICENSE
Server/node_modules/@aws-sdk/protocol-http/README.md
Server/node_modules/@aws-sdk/protocol-http/dist-cjs/
Server/node_modules/@aws-sdk/protocol-http/dist-es/
Server/node_modules/@aws-sdk/protocol-http/package.json
Server/node_modules/@aws-sdk/querystring-builder/LICENSE
Server/node_modules/@aws-sdk/querystring-builder/README.md
Server/node_modules/@aws-sdk/querystring-builder/dist-cjs/
Server/node_modules/@aws-sdk/querystring-builder/dist-es/
Server/node_modules/@aws-sdk/querystring-builder/package.json
Server/node_modules/@aws-sdk/querystring-parser/LICENSE
Server/node_modules/@aws-sdk/querystring-parser/README.md
Server/node_modules/@aws-sdk/querystring-parser/dist-cjs/
Server/node_modules/@aws-sdk/querystring-parser/dist-es/
Server/node_modules/@aws-sdk/querystring-parser/package.json
Server/node_modules/@aws-sdk/service-error-classification/LICENSE
Server/node_modules/@aws-sdk/service-error-classification/README.md
Server/node_modules/@aws-sdk/service-error-classification/dist-cjs/
Server/node_modules/@aws-sdk/service-error-classification/dist-es/
Server/node_modules/@aws-sdk/service-error-classification/package.json
Server/node_modules/@aws-sdk/shared-ini-file-loader/LICENSE
Server/node_modules/@aws-sdk/shared-ini-file-loader/README.md
Server/node_modules/@aws-sdk/shared-ini-file-loader/dist-cjs/
Server/node_modules/@aws-sdk/shared-ini-file-loader/dist-es/
Server/node_modules/@aws-sdk/shared-ini-file-loader/package.json
Server/node_modules/@aws-sdk/signature-v4/LICENSE
Server/node_modules/@aws-sdk/signature-v4/README.md
Server/node_modules/@aws-sdk/signature-v4/dist-cjs/
Server/node_modules/@aws-sdk/signature-v4/dist-es/
Server/node_module
s/@aws-sdk/signature-v4/package.json
Server/node_modules/@aws-sdk/smithy-client/LICENSE
Server/node_modules/@aws-sdk/smithy-client/README.md
Server/node_modules/@aws-sdk/smithy-client/dist-cjs/
Server/node_modules/@aws-sdk/smithy-client/dist-es/
Server/node_modules/@aws-sdk/smithy-client/package.json
Server/node_modules/@aws-sdk/token-providers/LICENSE
Server/node_modules/@aws-sdk/token-providers/README.md
Server/node_modules/@aws-sdk/token-providers/dist-cjs/
Server/node_modules/@aws-sdk/token-providers/dist-es/
Server/node_modules/@aws-sdk/token-providers/package.json
Server/node_modules/@aws-sdk/types/LICENSE
Server/node_modules/@aws-sdk/types/README.md
Server/node_modules/@aws-sdk/types/dist-cjs/
Server/node_modules/@aws-sdk/types/dist-es/
Server/node_modules/@aws-sdk/types/package.json
Server/node_modules/@aws-sdk/url-parser/LICENSE
Server/node_modules/@aws-sdk/url-parser/README.md
Server/node_modules/@aws-sdk/url-parser/dist-cjs/
Server/node_modules/@aws-sdk/url-parser/dist-es/
Server/node_modules/@aws-sdk/url-parser/package.json
Server/node_modules/@aws-sdk/util-base64/LICENSE
Server/node_modules/@aws-sdk/util-base64/README.md
Server/node_modules/@aws-sdk/util-base64/dist-cjs/
Server/node_modules/@aws-sdk/util-base64/dist-es/
Server/node_modules/@aws-sdk/util-base64/package.json
Server/node_modules/@aws-sdk/util-body-length-browser/CHANGELOG.md
Server/node_modules/@aws-sdk/util-body-length-browser/LICENSE
Server/node_modules/@aws-sdk/util-body-length-browser/README.md
Server/node_modules/@aws-sdk/util-body-length-browser/dist-cjs/
Server/node_modules/@aws-sdk/util-body-length-browser/dist-es/
Server/node_modules/@aws-sdk/util-body-length-browser/package.json
Server/node_modules/@aws-sdk/util-body-length-node/LICENSE
Server/node_modules/@aws-sdk/util-body-length-node/README.md
Server/node_modules/@aws-sdk/util-body-length-node/dist-cjs/
Server/node_modules/@aws-sdk/util-body-length-node/dist-es/
Server/node_modules/@aws-sdk/util-body-length-node/package.json
Server/node_modules/@aws-sdk/util-buffer-from/LICENSE
Server/node_modules/@aws-sdk/util-buffer-from/README.md
Server/node_modules/@aws-sdk/util-buffer-from/dist-cjs/
Server/node_modules/@aws-sdk/util-buffer-from/dist-es/
Server/node_modules/@aws-sdk/util-buffer-from/package.json
Server/node_modules/@aws-sdk/util-config-provider/LICENSE
Server/node_modules/@aws-sdk/util-config-provider/README.md
Server/node_modules/@aws-sdk/util-config-provider/dist-cjs/
Server/node_modules/@aws-sdk/util-config-provider/dist-es/
Server/node_modules/@aws-sdk/util-config-provider/package.json
Server/node_modules/@aws-sdk/util-defaults-mode-browser/LICENSE
Server/node_modules/@aws-sdk/util-defaults-mode-browser/README.md
Server/node_modules/@aws-sdk/util-defaults-mode-browser/dist-cjs/
Server/node_modules/@aws-sdk/util-defaults-mode-browser/dist-es/
Server/node_modules/@aws-sdk/util-defaults-mode-browser/package.json
Server/node_modules/@aws-sdk/util-defaults-mode-node/LICENSE
Server/node_modules/@aws-sdk/util-defaults-mode-node/README.md
Server/node_modules/@aws-sdk/util-defaults-mode-node/dist-cjs/
Server/node_modules/@aws-sdk/util-defaults-mode-node/dist-es/
Server/node_modules/@aws-sdk/util-defaults-mode-node/package.json
Server/node_modules/@aws-sdk/util-endpoints/LICENSE
Server/node_modules/@aws-sdk/util-endpoints/README.md
Server/node_modules/@aws-sdk/util-endpoints/dist-cjs/
Server/node_modules/@aws-sdk/util-endpoints/dist-es/
Server/node_modules/@aws-sdk/util-endpoints/package.json
Server/node_modules/@aws-sdk/util-hex-encoding/CHANGELOG.md
Server/node_modules/@aws-sdk/util-hex-encoding/LICENSE
Server/node_modules/@aws-sdk/util-hex-encoding/README.md
Server/node_modules/@aws-sdk/util-hex-encoding/dist-cjs/
Server/node_modules/@aws-sdk/util-hex-encoding/dist-es/
Server/node_modules/@aws-sdk/util-hex-encoding/package.json
Server/node_modules/@aws-sdk/util-locate-window/LICENSE
Server/node_modules/@aws-sdk/util-locate-window/README.md
Server/node_modules/@aws-sdk/util-locate-window/dist-cjs/
Server/node_modules/@aws-sdk/util-locate-window/dist-es/
Server/node_modules/@aws-sdk/util-locate-window/package.json
Server/node_modules/@aws-sdk/util-middleware/LICENSE
Server/node_modules/@aws-sdk/util-middleware/README.md
Server/node_modules/@aws-sdk/util-middleware/dist-cjs/
Server/node_modules/@aws-sdk/util-middleware/dist-es/
Server/node_modules/@aws-sdk/util-middleware/package.json
Server/node_modules/@aws-sdk/util-retry/LICENSE
Server/node_modules/@aws-sdk/util-retry/README.md
Server/node_modules/@aws-sdk/util-retry/dist-cjs/
Server/node_modules/@aws-sdk/util-retry/dist-es/
Server/node_modules/@aws-sdk/util-retry/package.json
Server/node_modules/@aws-sdk/util-uri-escape/CHANGELOG.md
Server/node_modules/@aws-sdk/util-uri-escape/LICENSE
Server/node_modules/@aws-sdk/util-uri-escape/README.md
Server/node_modules/@aws-sdk/util-uri-escape/dist-cjs/
Server/node_modules/@aws-sdk/util-uri-escape/dist-es/
Server/node_modules/@aws-sdk/util-uri-escape/package.json
Server/node_modules/@aws-sdk/util-user-agent-browser/LICENSE
Server/node_modules/@aws-sdk/util-user-agent-browser/README.md
Server/node_modules/@aws-sdk/util-user-agent-browser/dist-cjs/
Server/node_modules/@aws-sdk/util-user-agent-browser/dist-es/
Server/node_modules/@aws-sdk/util-user-agent-browser/package.json
Server/node_modules/@aws-sdk/util-user-agent-node/LICENSE
Server/node_modules/@aws-sdk/util-user-agent-node/README.md
Server/node_modules/@aws-sdk/util-user-agent-node/dist-cjs/
Server/node_modules/@aws-sdk/util-user-agent-node/dist-es/
Server/node_modules/@aws-sdk/util-user-agent-node/package.json
Server/node_modules/@aws-sdk/util-utf8-browser/CHANGELOG.md
Server/node_modules/@aws-sdk/util-utf8-browser/LICENSE
Server/node_modules/@aws-sdk/util-utf8-browser/README.md
Server/node_modules/@aws-sdk/util-utf8-browser/dist-cjs/
Server/node_modules/@aws-sdk/util-utf8-browser/dist-es/
Server/node_modules/@aws-sdk/util-utf8-browser/package.json
Server/node_modules/@aws-sdk/util-utf8-node/LICENSE
Server/node_modules/@aws-sdk/util-utf8-node/README.md
Server/node_modules/@aws-sdk/util-utf8-node/dist-cjs/
Server/node_modules/@aws-sdk/util-utf8-node/dist-es/
Server/node_modules/@aws-sdk/util-utf8-node/package.json
Server/node_modules/@aws-sdk/util-utf8/LICENSE
Server/node_modules/@aws-sdk/util-utf8/README.md
Server/node_modules/@aws-sdk/util-utf8/dist-cjs/
Server/node_modules/@aws-sdk/util-utf8/dist-es/
Server/node_modules/@aws-sdk/util-utf8/package.json
Server/node_modules/bowser/CHANGELOG.md
Server/node_modules/bowser/LICENSE
Server/node_modules/bowser/README.md
Server/node_modules/bowser/bundled.js
Server/node_modules/bowser/es5.js

Server/node_modules/bowser/package.json
Server/node_modules/bowser/src/
Server/node_modules/fast-xml-parser/CHANGELOG.md
Server/node_modules/fast-xml-parser/LICENSE
Server/node_modules/fast-xml-parser/README.md
Server/node_modules/fast-xml-parser/package.json
Server/node_modules/fast-xml-parser/src/cli/
Server/node_modules/fast-xml-parser/src/fxp.js
Server/node_modules/fast-xml-parser/src/util.js
Server/node_modules/fast-xml-parser/src/validator.js
Server/node_modules/fast-xml-parser/src/xmlbuilder/
Server/node_modules/fast-xml-parser/src/xmlparser/
Server/node_modules/mongodb/lib/cursor/change_stream_cursor.js
Server/node_modules/mongodb/lib/cursor/change_stream_cursor.js.map
Server/node_modules/mongodb/lib/cursor/list_collections_cursor.js
Server/node_modules/mongodb/lib/cursor/list_collections_cursor.js.map
Server/node_modules/mongodb/lib/cursor/list_indexes_cursor.js
Server/node_modules/mongodb/lib/cursor/list_indexes_cursor.js.map
Server/node_modules/mongodb/lib/operations/kill_cursors.js
Server/node_modules/mongodb/lib/operations/kill_cursors.js.map
Server/node_modules/mongoose/.mocharc.yml
Server/node_modules/mongoose/lgtm.yml
Server/node_modules/mongoose/lib/error/setOptionError.js
Server/node_modules/mongoose/lib/error/strictPopulate.js
Server/node_modules/mongoose/lib/helpers/discriminator/mergeDiscriminatorSchema.js
Server/node_modules/mongoose/lib/helpers/document/applyDefaults.js
Server/node_modules/mongoose/lib/helpers/error/
Server/node_modules/mongoose/lib/helpers/firstKey.js
Server/node_modules/mongoose/lib/helpers/model/applyDefaultsToPOJO.js
Server/node_modules/mongoose/lib/helpers/model/pushNestedArrayPaths.js
Server/node_modules/mongoose/lib/helpers/printStrictQueryWarning.js
Server/node_modules/mongoose/lib/helpers/schema/applyBuiltinPlugins.js
Server/node_modules/mongoose/lib/helpers/timestamps/setDocumentTimestamps.js
Server/node_modules/mongoose/lib/plugins/index.js
Server/node_modules/mongoose/lib/schema/uuid.js
Server/node_modules/mongoose/scripts/
Server/node_modules/socks/.eslintrc.cjs
Server/node_modules/strnum/
Server/node_modules/tslib/CopyrightNotice.txt
Server/node_modules/tslib/LICENSE.txt
Server/node_modules/tslib/README.md
Server/node_modules/tslib/SECURITY.md
Server/node_modules/tslib/modules/
Server/node_modules/tslib/package.json
Server/node_modules/tslib/tslib.es6.html
Server/node_modules/tslib/tslib.es6.js
Server/node_modules/tslib/tslib.html
Server/node_modules/tslib/tslib.js
Server/node_modules/uuid/
code/
